<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../img/asset-favico.ico">
        <title>登录</title>
        <link rel="stylesheet" href="../../css/page-health-login.css" />
        <link rel="stylesheet" href="../../../../../../health_backend/src/main/webapp/plugins/elementui/index.css" />
        <script src="../../plugins/jquery/dist/jquery.min.js"></script>
        <script src="../../plugins/healthmobile.js"></script>
        <script src="../../plugins/vue/vue.js"></script>
        <script src="../../plugins/vue/axios-0.18.0.js"></script>
        <script src="../../../../../../health_backend/src/main/webapp/plugins/elementui/index.js"></script>
    </head>
    <body data-spy="scroll" data-target="#myNavbar" data-offset="150">
    <div class="app" id="app">
        <!-- 页面头部 -->
        <div class="top-header">
            <span class="f-left"><i class="icon-back"></i></span>
            <span class="center">传智健康</span>
            <span class="f-right"><i class="icon-more"></i></span>
        </div>
        <div style="margin-left: 20px">
            <a href="loginPhone.html">手机快速登录</a>&nbsp;&nbsp;&nbsp;
            账号密码登录&nbsp;&nbsp;&nbsp;
            <a href="loginEmail.html">邮箱验证码登录</a></div>

        <!-- 页面内容 -->
        <div class="contentBox">
            <div class="login">
                <form id='login-form'>
                    <div class="input-row">
                        <label>账号</label>
                        <div class="loginInput">
                            <input v-model="loginInfo.account" id='account' @blur="blur" type="text" placeholder="请输入账号">
                        </div>
                    </div>
                    <div class="input-row">
                        <label>密码</label>
                        <div class="loginInput">
                            <input v-model="loginInfo.validateCode" style="width:80%" id='text' type="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="input-row" style="font-size: 12px">
                        <input type="checkbox" checked>
                        阅读并同意《传智健康用户协议》《传智健康隐私条款》
                    </div>
                    <div class="btn yes-btn"><a @click="login()" href="#">登录</a></div>
                    <div><a href="forgetPhone.html">忘记密码</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="register.html">快速注册</a></div>
                </form>
            </div>
        </div>
    </div>
    </body>
    <script>
        var vue = new Vue({
            el:'#app',
            data:{
                loginInfo:{},//登录信息
                hint:""
            },
            methods:{
                blur(){
                  // alert("执行了")
                    axios.get("/member/findAllTelephone.do?account="+this.loginInfo).then((req)=>{
                        if (!req.data.flag){
                            alert("账号有问题")
                        }
                    });
                },
                //登录
                login(){
                    axios.post("/login/loginPassword.do",this.loginInfo).then((response) => {
                        if(response.data.flag){
                            //登录成功,跳转到index.html
                            window.location.href="../index.html";
                        }else{
                            //失败，提示失败信息
                            this.$message.error(response.data.message);
                        }
                    });
                }
            }
        });
    </script>
</html>